PORT=3000
NODE_ENV=development
APP_BASE_URL=http://localhost:3000
DATABASE_URL=abc://abc:postgres@abc:1234/abc
POSTGRES_USER=abc
POSTGRES_PASSWORD=abc
POSTGRES_DB=abc
JWT_EXPIRES_IN=1h
JWT_SECRET=abc
JWT_REFRESH_SECRET=abc   
FRONTEND_URL=http://localhost:1234
SMTP_HOST=abc
SMTP_PORT=123
SMTP_USER=123abc
SMTP_PASS=123abc